@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 100px;
  background-color: #353333;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
}

header img {
  width: 60px;
  height: 60px;
  margin: 20px;
}

header h1 {
  font-size: 3em;
  color: ghostwhite;
  margin-left: 20px;
}

header input {
  width: 250px;
  height: 40px;
  font-size: 1em;
  color: #353333;
  background-color: ghostwhite;
  margin-left: 100px;
  padding: 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
}

header button {
  width: 150px;
  height: 40px;
  font-size: 1em;
  color: ghostwhite;
  background-color: transparent;
  margin-left: 10px;
  padding: 5px;
  border: none;
  outline: 1px solid ghostwhite;
  text-transform: uppercase;
  cursor: pointer;
}

.more {
  margin-left: 20px;
  border: none;
  outline: 1px solid #ffd99f;
  font-size: 0.7em;
  text-align: center;
  background-color: transparent;
  color: #ffd99f;
  padding: 3px;
  width: 60px;
  height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

section {
  margin-top: 6em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

figure {
  margin: 20px 10px 10px 20px;
  width: 200px;
  height: 290px;
  overflow: visible;
  -webkit-box-shadow: 3px 3px 5px 0px #2a292b;
  -moz-box-shadow: 3px 3px 5px 0px #2a292b;
  box-shadow: 3px 3px 5px 0px #2a292b;
}

figure:hover {
  transform: scale(1.1);
}

img {
  width: 200px;
  height: 240px;
  object-fit: cover;
}

figcaption {
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  height: 50px;
  padding: 10px;
  margin-top: -5px;
  margin-bottom: 20px;
  color: #424040;
  background-color: #f0e9e9;
  overflow: visible;
}
